{{! template-lint-disable link-rel-noopener simple-unless no-curly-component-invocation }}
{{#unless (eq @version @currentVersion)}}
  <div class="old-version-warning">
    <i class="icon-attention-circled"></i><strong>Old Guides - </strong>You are viewing the guides for {{this.guidemaker.title}} {{@version}}.

    <LinkTo @route='version.show' @models={{array 'release' @path}} class="btn"> VIEW {{@currentVersion}} </LinkTo>
  </div>
{{/unless}}

{{#if this.guidemaker.sourceRepo}}
  <a href="{{this.guidemaker.sourceRepo}}/edit/master/guides/{{unless (eq this.page.currentVersion 'release') (concat this.page.currentVersion '/')}}{{@model.id}}.md"
  target="_blank" class="edit-page icon-pencil">Edit Page</a>
{{/if}}

<h1>
  {{this.page.currentPage.title}}
</h1>
<hr>

{{markdown-to-html @model.content extensions='showdown-section-groups'}}

{{chapter-links pages=@pages}}
